html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
p {
  margin: 0;
}
p + p {
  margin-top: 13px;
}
img {
  max-width: 100%;
}
button.tool:hover:not(:disabled) {
  background-color: #d0d0d7 !important;   /* Firefox default hover button */
}
button.tool:active:not(:disabled) {
  background-color: #b1b1b9 !important;   /* Firefox default active button */
}
button.tool:disabled {
  color: #b0b0b0; /* same as "disabledColor" (Config.elm), Firefox default is #6d6d6d */
}
